<%= simple_form_for @book do |f| %>
	<%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
	<%= f.file_field :book_img %>
	<%= f.input :title %>
	<%= f.input :description %>
	<%= f.input :author %>
	<%= f.button :submit, class: "btn btn-custom2"  %>
<% end %>