

<%= simple_form_for([@book, @book.reviews.build]) do |f| %>
	<div id="rating-form">
	<label for="rating-form">Rating</label>
	</div>
	<%= f.input :comment %>
	<%= f.button :submit, class: "btn btn-custom2" %>
<% end %>

<script>
$('#rating-form').raty({
	path: '/assets/',
	scoreName: 'review[rating]'
});
</script>
