<div class="review">

	<div class="review-rating" data-score="<%= review.rating %>"></div>
	<p class="review-comment"><%= review.comment %></p>

	<% if user_signed_in? %>

		<% if review.user_id == current_user.id %>
		<div class="links btn-group">
		<%= link_to "Edit", edit_book_review_path(review.book, review), class: "btn btn-custom"  %>
		<%= link_to "Delete", book_review_path(review.book, review), method: :delete, data: { 	confirm: ("Are you sure?")}, class: "btn btn-custom" %>
		</div>
		<% end %>
	<% end %>

</div>