<div class="col-md-6 col-md-offset-3">
<div class="new-review-form">

<h1>Edit Review</h1>

<%= simple_form_for([@book, @review]) do |f| %>
	<div id="rating-form">
	<label for="rating-form">Rating</label>
	</div>
	<%= f.input :comment %>
	<%= f.button :submit, class: "btn btn-custom2" %>
<% end %>
</div>
</div>
<script>
$('#rating-form').raty({
	path: '/assets/',
	scoreName: 'review[rating]',
	score: <%= @review.rating %>
});
</script>